body {
    background-image: url(../image/imglogin03/bg3.1.png); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.inputbox {
    font-size: 18px;
    width: 430px;
    height: 70px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.671);
    
   }
.inputbox2 {
    font-size: 18px;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.671);
   }
#mail{ 
    position: fixed;
    top: 280px;
    left: 140px;
}
#pass{ 
    position: fixed;
    top: 400px;
    left: 140px;
}
#ok{ 
    position: fixed;
    top: 570px;
    left: 210px;
}
#AA{
    border-radius: 30px;
    position: fixed;
    top: 490px;
    left: 190px;
    color: rgba(240, 248, 255, 0.575);
}
#BB{
    border-radius: 30px;
    position: fixed;
    top: 490px;
    left: 430px;
    color: rgba(240, 248, 255, 0.637);
}
a {
    position: fixed;
    top: 720px;
    left: 260px;
}